*{
    padding: 0;
    margin: 0;

}
body{
    background-color: rgba(189, 38, 38, 0.3);
    /* background-image: url("new.jpg"); */
    
}
.backImg{
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content:center;
    text-aLign:center;
    coLor:black;



}
.profile{
    width:400px;
    background-color: rgba(148, 16, 16, 0.3);
    padding:30px 0;
    border-radius: 10%;

}
img{
    height:250px;
    width:100;
    border-radius:70%;
}
i{
   color:white; 
   padding: 0.5rem;
   font-size: 2rem;
}